In [1]:
%load_ext autoreload
%autoreload 2

import random
import pandas
from typing import Dict, List, Tuple, Set
from problem import *
from round import *
from heuristics import *
from utils import *

In [344]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [349]:
#with open("va_adult_activity_location_assignment_week.csv", "r") as adult_data:
file = open("va_adult_activity_location_assignment_week.csv", "r")
print(file.readline())
#lines = file.readlines()

hid,pid,activity_number,activity_type,start_time,duration,lid,longitude,latitude,travel_mode

## DATA FOR CVILLE ##

In [7]:
#usa_va_charlottesville_city_adult_activity_location_assignment_week.csv
adult_df = pandas.read_csv("usa_va_charlottesville_city_adult_activity_location_assignment_week.csv")
adult_df

,hid,pid,activity_number,activity_type,start_time,duration,lid,longitude,latitude,travel_mode
0,2208253,5586585,0,1,0,27900,1018209,-78.488467,38.043025,-1
1,2208253,5586585,2,2,28800,17100,82246,-78.414920,38.157530,-1
2,2208253,5586585,4,4,46800,1200,86726,-78.498790,38.139160,-1
3,2208253,5586585,6,2,48600,15300,82246,-78.414920,38.157530,-1
4,2208253,5586585,8,1,64800,36000,1018209,-78.488467,38.043025,-1
...,...,...,...,...,...,...,...,...,...,...
1103745,2226628,5627703,39,1,486000,46800,2705996,-78.469097,38.038500,-1
1103746,2226628,5627703,40,1,532800,25320,2705996,-78.469097,38.038500,-1
1103747,2226628,5627703,42,4,558600,12240,131949,-78.484510,38.036050,-1
1103748,2226628,5627703,44,2,572100,10200,105075,-78.462870,38.021820,-1
1103749,2226628,5627703,46,1,583200,21600,2705996,-78.469097,38.038500,-1

In [8]:
HOME_SHIFT=1000000000
adult_df.loc[adult_df.activity_type == 1, "lid"] += HOME_SHIFT
adult_df

,hid,pid,activity_number,activity_type,start_time,duration,lid,longitude,latitude,travel_mode
0,2208253,5586585,0,1,0,27900,1001018209,-78.488467,38.043025,-1
1,2208253,5586585,2,2,28800,17100,82246,-78.414920,38.157530,-1
2,2208253,5586585,4,4,46800,1200,86726,-78.498790,38.139160,-1
3,2208253,5586585,6,2,48600,15300,82246,-78.414920,38.157530,-1
4,2208253,5586585,8,1,64800,36000,1001018209,-78.488467,38.043025,-1
...,...,...,...,...,...,...,...,...,...,...
1103745,2226628,5627703,39,1,486000,46800,1002705996,-78.469097,38.038500,-1
1103746,2226628,5627703,40,1,532800,25320,1002705996,-78.469097,38.038500,-1
1103747,2226628,5627703,42,4,558600,12240,131949,-78.484510,38.036050,-1
1103748,2226628,5627703,44,2,572100,10200,105075,-78.462870,38.021820,-1
1103749,2226628,5627703,46,1,583200,21600,1002705996,-78.469097,38.038500,-1

In [57]:
df = adult_df.groupby(['lid'])['lid'].count().reset_index(name = 'Count').sort_values(['Count'], ascending=False)
df

         lid  Count
3273   77571  12026
7679  127361   7817
3687   82889   7678
4519   91203   7672
7959  130369   7672
...      ...    ...
4493   90959      1
4494   90960      1
4496   90972      1
4497   90973      1
5042   96718      1

[19723 rows x 2 columns]

In [10]:
print(adult_df[adult_df["pid"]==5627703])

             hid      pid  activity_number  activity_type  start_time  \
1103723  2226628  5627703                0              1           0
1103724  2226628  5627703                2              2       22500
1103725  2226628  5627703                4              4       41340
1103726  2226628  5627703                6              2       43320
1103727  2226628  5627703                8              1       60660
1103728  2226628  5627703                9              1      100800
1103729  2226628  5627703               11              2      109200
1103730  2226628  5627703               13              4      148500
1103731  2226628  5627703               15              1      155400
1103732  2226628  5627703               16              1      187200
1103733  2226628  5627703               18              2      195600
1103734  2226628  5627703               20              4      234900
1103735  2226628  5627703               22              1      241800
1103736  2226628  5627703               23              1      273600
1103737  2226628  5627703               25              2      282000
1103738  2226628  5627703               27              4      321300
1103739  2226628  5627703               29              1      328200
1103740  2226628  5627703               30              1      360000
1103741  2226628  5627703               32              2      374820
1103742  2226628  5627703               34              1      405900
1103743  2226628  5627703               35              1      446400
1103744  2226628  5627703               37              7      468000
1103745  2226628  5627703               39              1      486000
1103746  2226628  5627703               40              1      532800
1103747  2226628  5627703               42              4      558600
1103748  2226628  5627703               44              2      572100
1103749  2226628  5627703               46              1      583200

         duration         lid  longitude  latitude  travel_mode
1103723     20520  1002705996 -78.469097  38.03850           -1
1103724     18360      105075 -78.462870  38.02182           -1
1103725      1320       82341 -78.486790  38.03701           -1
1103726     14220      105075 -78.462870  38.02182           -1
1103727     40140  1002705996 -78.469097  38.03850           -1
1103728      6000  1002705996 -78.469097  38.03850           -1
1103729     35700      105075 -78.462870  38.02182           -1
1103730      3900       85494 -78.499840  38.03257           -1
1103731     31800  1002705996 -78.469097  38.03850           -1
1103732      6000  1002705996 -78.469097  38.03850           -1
1103733     35700      105075 -78.462870  38.02182           -1
1103734      3900      108116 -78.481950  38.02928           -1
1103735     31800  1002705996 -78.469097  38.03850           -1
1103736      6000  1002705996 -78.469097  38.03850           -1
1103737     35700      105075 -78.462870  38.02182           -1
1103738      3900      100662 -78.488080  38.05895           -1
1103739     31800  1002705996 -78.469097  38.03850           -1
1103740     12720  1002705996 -78.469097  38.03850           -1
1103741     29940      105075 -78.462870  38.02182           -1
1103742     40500  1002705996 -78.469097  38.03850           -1
1103743     19500  1002705996 -78.469097  38.03850           -1
1103744     15900       63488 -78.480900  38.03229           -1
1103745     46800  1002705996 -78.469097  38.03850           -1
1103746     25320  1002705996 -78.469097  38.03850           -1
1103747     12240      131949 -78.484510  38.03605           -1
1103748     10200      105075 -78.462870  38.02182           -1
1103749     21600  1002705996 -78.469097  38.03850           -1

## Distance Function ##

In [58]:
import geopy.distance

coords_1 = (50, 20)
coords_2 = (51, 20)

print(geopy.distance.distance(coords_1, coords_2).km)

111.23868085995683

In [ ]:
#usa_va_charlottesville_city_adult_activity_location_assignment_week.csv
df = pandas.read_csv("usa_va_charlottesville_city_adult_activity_location_assignment_week.csv")
HOME_SHIFT=1000000000
df.loc[df.activity_type == 1, "lid"] += HOME_SHIFT

key = {}

"""
Read in activity locations file
"""
location_file_act = open("usa_va_charlottesville_city_activity_locations.csv", "r")
lines_act = location_file_act.readlines()
print(lines_act[0])
lines_act = location_file_act.readlines()[1:]

"""
Read in residence locations file
"""
location_file_res = open("usa_va_charlottesville_city_residence_locations.csv", "r")
lines_res = location_file_res.readlines()[1:]
for line in lines_res:
    line[0] += HOME_SHIFT

lines = lines_act + lines_res

count = 0
G = []
for line in lines:
    
    key[count] = (line[0], line[1], line[2])
    count += 1
    
    G.append([])
    for i in range(count):
        coords_1 = (line[2], line[1])
        coords_2 = (key[i][2], key[i][1])          #Make into namedtuple
        G[-1].append(geopy.distance.distance(coords_1, coords_2).km)

'''G = []
for index, row in df.iterrows():
    #print(row)
    G.append([])
    for prev_ind, prev_row in df[:index].iterrows():
        #print(prev)
        coords_1 = (row['latitude'], row['longitude'])
        coords_2 = (prev_row['latitude'], prev_row['longitude'])
        G[-1].append(geopy.distance.distance(coords_1, coords_2).km)
    G[-1].append(0)'''

for row in G:
    print(row)

In [51]:
df_activity = pandas.read_csv("usa_va_charlottesville_city_activity_locations.csv").rename({"alid": "lid"}, axis = 'columns')
print(len(df_activity))
df_residence = pandas.read_csv("usa_va_charlottesville_city_residence_locations.csv")
HOME_SHIFT=1000000000
df_residence['rlid'] = df_residence['rlid'].apply(lambda x: x+HOME_SHIFT)
df_residence = df_residence.rename({"rlid": "lid"}, axis = 'columns')

df_locations = pandas.concat([df_activity[['lid', 'longitude', 'latitude']], df_residence[['lid', 'longitude', 'latitude']]])
df_locations

9165

              lid  longitude   latitude
0              15 -78.435590  38.131810
1              16 -77.969710  38.483840
2              71 -77.480250  37.576470
3              88 -78.479900  38.076820
4              89 -78.467600  38.040570
...           ...        ...        ...
10033  1002732587 -78.458161  38.022824
10034  1002732588 -78.461352  38.024138
10035  1002732589 -78.456930  38.028201
10036  1002732590 -78.463694  38.028551
10037  1002732592 -78.482681  38.012541

[19203 rows x 3 columns]

In [ ]:
import json

G = []
location_indexing = {}
for index, row in df_locations.iterrows:
    location_indexing[row['lid']] = index
    G.append([])
    for prev_index, prev_row in df_locations[:index].iterrows():
        coords_1 = (row['latitude'], row['longitude'])
        coords_2 = (prev_row['latitude'], prev_row['longitude'])          #Make into namedtuple
        G[-1].append(geopy.distance.distance(coords_1, coords_2).km)
    G[-1].append(0)

with open('cville_location_G.json', 'w') as f:
    json.dump(G, f)

In [59]:
df = pandas.read_csv("usa_va_charlottesville_city_adult_activity_location_assignment_week.csv")
HOME_SHIFT=1000000000
df.loc[df.activity_type == 1, "lid"] += HOME_SHIFT

client_indexing = {}
client_locations = []
for index, row in df.iterrows():
    if row['pid'] in client_indexing:
        if row['activity_type'] == 1:
            client_locations[index].insert(0, location_indexing[row['lid']])
        else:
            client_locations[index].append(location_indexing[row['lid']])
    else:
        client_indexing[row['pid']] = index
        client_locations.append([location_indexing[row['lid']]])

with open('cville_client_locations.json', 'w') as f:
    json.dump(client_locations, f)

with open('cville_indexing.json', 'w') as f:
    json.dump(location_indexing, f)
    json.dump(client_indexing, f)

NameError: name 'location_indexing' is not defined

In [2]:
!pip install haversine

Collecting haversine
  Downloading haversine-2.3.1-py2.py3-none-any.whl (5.5 kB)
Installing collected packages: haversine
Successfully installed haversine-2.3.1

In [4]:
import haversine as hs
loc1=(28.426846,77.088834)
loc2=(28.394231,77.050308)

coords_1 = (52.2296756, 21.0122287)
coords_2 = (52.406374, 16.9251681)

hs.haversine(coords_1, coords_2)

278.4585596982322

In [ ]:
#HOW MUCH A SET OF LOCATIONS CAN COVER

df_activity = pandas.read_csv("usa_va_charlottesville_city_activity_locations.csv").rename({"alid": "lid"}, axis = 'columns')
df_activity = df_activity
print(len(df_activity))
#df_residence = pandas.read_csv("usa_va_charlottesville_city_residence_locations.csv")
#HOME_SHIFT=1000000000
#df_residence['rlid'] = df_residence['rlid'].apply(lambda x: x+HOME_SHIFT)
#df_residence = df_residence.rename({"rlid": "lid"}, axis = 'columns')