In [1]:
%load_ext autoreload
%autoreload 2

import random
import pandas
from typing import Dict, List, Tuple, Set
from src.problem import *
from src.round import *
from src.heuristics import *
from src.utils import *

FileNotFoundError: [Errno 2] No such file or directory: 'data.json'

In [2]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? n
Nothing done.

In [4]:
#usa_va_charlottesville_city_adult_activity_location_assignment_week.csv
adult_df = pandas.read_csv("usa_va_charlottesville_city_adult_activity_location_assignment_week.csv")
adult_df.head()

,hid,pid,activity_number,activity_type,start_time,duration,lid,longitude,latitude,travel_mode
0,2208253,5586585,0,1,0,27900,1018209,-78.488467,38.043025,-1
1,2208253,5586585,2,2,28800,17100,82246,-78.414920,38.157530,-1
2,2208253,5586585,4,4,46800,1200,86726,-78.498790,38.139160,-1
3,2208253,5586585,6,2,48600,15300,82246,-78.414920,38.157530,-1
4,2208253,5586585,8,1,64800,36000,1018209,-78.488467,38.043025,-1

In [5]:
# What is lid?
HOME_SHIFT=1000000000
adult_df.loc[adult_df.activity_type == 1, "lid"] += HOME_SHIFT
adult_df

,hid,pid,activity_number,activity_type,start_time,duration,lid,longitude,latitude,travel_mode
0,2208253,5586585,0,1,0,27900,1001018209,-78.488467,38.043025,-1
1,2208253,5586585,2,2,28800,17100,82246,-78.414920,38.157530,-1
2,2208253,5586585,4,4,46800,1200,86726,-78.498790,38.139160,-1
3,2208253,5586585,6,2,48600,15300,82246,-78.414920,38.157530,-1
4,2208253,5586585,8,1,64800,36000,1001018209,-78.488467,38.043025,-1
...,...,...,...,...,...,...,...,...,...,...
1103745,2226628,5627703,39,1,486000,46800,1002705996,-78.469097,38.038500,-1
1103746,2226628,5627703,40,1,532800,25320,1002705996,-78.469097,38.038500,-1
1103747,2226628,5627703,42,4,558600,12240,131949,-78.484510,38.036050,-1
1103748,2226628,5627703,44,2,572100,10200,105075,-78.462870,38.021820,-1
1103749,2226628,5627703,46,1,583200,21600,1002705996,-78.469097,38.038500,-1

In [ ]:
df = adult_df.groupby(['lid'])['lid'].count().reset_index(name = 'Count').sort_values(['Count'], ascending=False)
df

In [ ]:
print(adult_df[adult_df["pid"]==5627703])